.input_table{
    min-height: 500px;
    text-align: center;
}

.input_table table{
    border-style:solid;
    border-radius:5%;
    width: 30%;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    margin-top: 50px;    
}

.input_table td{
    padding-bottom:4px;
}


/* --------------- <thead> --------------- */
#div_input thead th{
    font-family: 'Courier New', Courier, monospace;
}

/* "falfala" title */
#div_input thead tr:first-child th{
    font-size: 35px;
    padding-bottom: 5px;
    padding-top:5px;
    border-style:groove;
    border-radius: 5%;
    
}

/* "password refresh" title */
#div_input thead tr:last-child th{
    font-size: 22px;
    padding-top: 45px;
    padding-bottom: 30px;
}


/* --------------- <input> --------------- */
.input_table input{
    font-size: 16px;
    min-width: 70%;
    text-align: center;
}

.input_table input:hover
{
    background-color: black;
    color: greenyellow;
}

.input_table tbody tr:last-child td{
    text-align: center;
}


/* --------------- result label ---------------*/
.td_resultLabel{
    padding-top:20px;
    text-align: center;
}

.td_resultLabel i{
    font-size:20px;
}

.td_resultLabel b{
    font-size: 21px;
}


/* --------------- <button> at bottom --------------- */
/* show password button */
.input_table tfoot tr:first-child td{
    padding-top: 10px;
}


/* save button */
.input_table tfoot tr:last-child td{
    padding-top: 30px;
    padding-bottom:5px;
}

.input_table tfoot tr:last-child button{
    padding: 5px 40px;
    font-size: 16px;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
    
}

.btn_hover:hover{
    background-color: black;
    color:greenyellow;
}